In [10]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import glob
import os

In [14]:
# df = pd.read_csv('C:/Users/depri/Desktop/OPS813 cloud computing/Project/amex-nyse-nasdaq-stock-histories/preview_AMD.csv')
# df1=pd.read_csv("C:/Users/depri/Desktop/OPS813 cloud computing/Project/amex-nyse-nasdaq-stock-histories/fh_20190217/full_history/A.csv")
path =r'C:/Users/depri/Desktop/OPS813 cloud computing/Project/case1/amex-nyse-nasdaq-stock-histories/fh_20190217/full_history'
allFiles = glob.glob(path + "/*.csv")

alldf = []
i=0

for file_ in allFiles:
    i+=1
    if i==10:
        break
    dftemp = pd.read_csv(file_,index_col=None, header=0)
    dftemp["StockName"]=os.path.basename(file_).split('.')[0]
    alldf.append(dftemp)

df = pd.concat(alldf, axis = 0, ignore_index = True)
print(df)

             date   volume       open      close       high        low  \
0      2019-02-15  1903800  77.629997  78.300003  78.309998  77.470001
1      2019-02-14  1618100  77.000000  77.019997  77.279999  76.519997
2      2019-02-13  1376400  77.370003  77.250000  77.489998  76.739998
3      2019-02-12  2045500  76.800003  77.070000  77.250000  76.430000
4      2019-02-11  1018000  76.000000  76.080002  76.389999  75.750000
5      2019-02-08  1318100  75.070000  75.800003  75.809998  74.760002
6      2019-02-07  1660600  75.720001  75.330002  76.120003  74.870003
7      2019-02-06  1504900  76.110001  76.300003  76.690002  76.000000
8      2019-02-05  1593500  75.800003  76.309998  76.510002  75.790001
9      2019-02-04  2245900  76.180000  76.029999  76.230003  75.320000
10     2019-02-01  1343900  76.160004  76.040001  76.589996  75.620003
11     2019-01-31  2951300  75.209999  76.050003  76.309998  74.669998
12     2019-01-30  1679500  73.739998  75.440002  75.589996  73.480003
13     2019-01-29  1684500  73.699997  73.559998  74.059998  73.199997
14     2019-01-28  1729600  72.760002  73.269997  73.279999  72.410004
15     2019-01-25  2215300  72.790001  73.650002  73.730003  72.559998
16     2019-01-24  1509600  71.459999  72.180000  72.199997  71.389999
17     2019-01-23  2050300  71.949997  71.650002  72.849998  70.739998
18     2019-01-22  1972700  71.440002  71.320000  71.480003  70.470001
19     2019-01-18  1551700  71.290001  71.930000  72.309998  70.849998
20     2019-01-17  1225800  69.760002  70.820000  71.239998  69.760002
21     2019-01-16  1480300  70.820000  70.029999  71.129997  69.970001
22     2019-01-15  1793100  69.949997  70.599998  70.750000  69.620003
23     2019-01-14  2182700  69.720001  69.750000  70.290001  69.669998
24     2019-01-11  1210800  69.290001  70.379997  70.410004  68.940002
25     2019-01-10  1080900  69.050003  69.900002  69.949997  68.599998
26     2019-01-09  2442300  68.199997  69.250000  69.660004  68.000000
27     2019-01-08  1578100  67.589996  67.830002  68.209999  66.699997
28     2019-01-07  3235100  65.639999  66.849998  67.430000  65.610001
29     2019-01-04  3123700  64.089996  65.459999  65.949997  64.089996
...           ...      ...        ...        ...        ...        ...
40254  1980-04-28     2500   3.100000   3.100000   3.300000   3.100000
40255  1980-04-25     5200   3.100000   3.100000   3.300000   3.100000
40256  1980-04-24     5700   3.200000   3.100000   3.300000   3.100000
40257  1980-04-23     2000   3.200000   3.200000   3.400000   3.200000
40258  1980-04-22      700   3.150000   3.150000   3.350000   3.150000
40259  1980-04-21     2700   3.100000   3.100000   3.300000   3.100000
40260  1980-04-18     3000   3.100000   3.100000   3.300000   3.100000
40261  1980-04-17     9000   3.300000   3.100000   3.300000   3.100000
40262  1980-04-16     7500   3.300000   3.300000   3.500000   3.300000
40263  1980-04-15      200   3.300000   3.300000   3.500000   3.300000
40264  1980-04-14    13200   3.350000   3.300000   3.500000   3.300000
40265  1980-04-11    18700   3.350000   3.350000   3.550000   3.350000
40266  1980-04-10     3200   3.300000   3.300000   3.500000   3.300000
40267  1980-04-09     7000   3.300000   3.300000   3.500000   3.300000
40268  1980-04-08     5200   3.300000   3.300000   3.500000   3.300000
40269  1980-04-07     4000   3.400000   3.300000   3.500000   3.300000
40270  1980-04-03    28500   3.400000   3.400000   3.600000   3.400000
40271  1980-04-02     9200   3.400000   3.400000   3.600000   3.400000
40272  1980-04-01     2000   3.350000   3.300000   3.500000   3.300000
40273  1980-03-31    20000   3.450000   3.350000   3.550000   3.350000
40274  1980-03-28     3200   3.450000   3.450000   3.650000   3.450000
40275  1980-03-27     4200   3.500000   3.400000   3.600000   3.400000
40276  1980-03-26      500   3.500000   3.500000   3.700000   3.500000
40277  1980-03-25     2500   3.550000   3.500000   3.700000   3.500000
40278  1980-03-24    18200   3.750000   3.550000   3.750000   3.550000
40279  1980-03-21    12700   3.800000   3.750000   3.950000   3.750000
40280  1980-03-20     8700   3.850000   3.800000   4.000000   3.800000
40281  1980-03-19    33500   3.850000   3.850000   4.050000   3.850000
40282  1980-03-18    10200   3.850000   3.800000   4.000000   3.800000
40283  1980-03-17    15000   3.850000   3.850000   4.050000   3.850000

        adjclose StockName
0      78.300003         A
1      77.019997         A
2      77.250000         A
3      77.070000         A
4      76.080002         A
5      75.800003         A
6      75.330002         A
7      76.300003         A
8      76.309998         A
9      76.029999         A
10     76.040001         A
11     76.050003         A
12     75.440002         A
13     73.559998         A
14     73.269997         A
15     73.650002         A
16     72.180000         A
17     71.650002         A
18     71.320000         A
19     71.930000         A
20     70.820000         A
21     70.029999         A
22     70.599998         A
23     69.750000         A
24     70.379997         A
25     69.900002         A
26     69.250000         A
27     67.830002         A
28     66.849998         A
29     65.459999         A
...          ...       ...
40254   2.607923      AAME
40255   2.607923      AAME
40256   2.607923      AAME
40257   2.692049      AAME
40258   2.649986      AAME
40259   2.607923      AAME
40260   2.607923      AAME
40261   2.607923      AAME
40262   2.776176      AAME
40263   2.776176      AAME
40264   2.776176      AAME
40265   2.818239      AAME
40266   2.776176      AAME
40267   2.776176      AAME
40268   2.776176      AAME
40269   2.776176      AAME
40270   2.860303      AAME
40271   2.860303      AAME
40272   2.776176      AAME
40273   2.818239      AAME
40274   2.902366      AAME
40275   2.860303      AAME
40276   2.944429      AAME
40277   2.944429      AAME
40278   2.986492      AAME
40279   3.154745      AAME
40280   3.196808      AAME
40281   3.238872      AAME
40282   3.196808      AAME
40283   3.238872      AAME

[40284 rows x 8 columns]

In [4]:
df.columns = ["Date", "Volume","Open", "Close", "High", "Low", "AdjustedClose","StockName"]
df
# frames=[df, df1]

# result=pd.concat(frames, sort=False)
# It is worth noting that concat() (and therefore append()) makes a full copy of the data, and that constantly 
#reusing this function can create a significant performance hit. 
#If you need to use the operation over several datasets, use a list comprehension.

#frames = [ process_your_file(f) for f in files ]
#result = pd.concat(frames)

,Date,Volume,Open,Close,High,Low,AdjustedClose,StockName
0,2019-02-15,1903800,77.629997,78.300003,78.309998,77.470001,78.300003,A
1,2019-02-14,1618100,77.000000,77.019997,77.279999,76.519997,77.019997,A
2,2019-02-13,1376400,77.370003,77.250000,77.489998,76.739998,77.250000,A
3,2019-02-12,2045500,76.800003,77.070000,77.250000,76.430000,77.070000,A
4,2019-02-11,1018000,76.000000,76.080002,76.389999,75.750000,76.080002,A
5,2019-02-08,1318100,75.070000,75.800003,75.809998,74.760002,75.800003,A
6,2019-02-07,1660600,75.720001,75.330002,76.120003,74.870003,75.330002,A
7,2019-02-06,1504900,76.110001,76.300003,76.690002,76.000000,76.300003,A
8,2019-02-05,1593500,75.800003,76.309998,76.510002,75.790001,76.309998,A
9,2019-02-04,2245900,76.180000,76.029999,76.230003,75.320000,76.029999,A
10,2019-02-01,1343900,76.160004,76.040001,76.589996,75.620003,76.040001,A
11,2019-01-31,2951300,75.209999,76.050003,76.309998,74.669998,76.050003,A
12,2019-01-30,1679500,73.739998,75.440002,75.589996,73.480003,75.440002,A
13,2019-01-29,1684500,73.699997,73.559998,74.059998,73.199997,73.559998,A
14,2019-01-28,1729600,72.760002,73.269997,73.279999,72.410004,73.269997,A
15,2019-01-25,2215300,72.790001,73.650002,73.730003,72.559998,73.650002,A
16,2019-01-24,1509600,71.459999,72.180000,72.199997,71.389999,72.180000,A
17,2019-01-23,2050300,71.949997,71.650002,72.849998,70.739998,71.650002,A
18,2019-01-22,1972700,71.440002,71.320000,71.480003,70.470001,71.320000,A
19,2019-01-18,1551700,71.290001,71.930000,72.309998,70.849998,71.930000,A
20,2019-01-17,1225800,69.760002,70.820000,71.239998,69.760002,70.820000,A
21,2019-01-16,1480300,70.820000,70.029999,71.129997,69.970001,70.029999,A
22,2019-01-15,1793100,69.949997,70.599998,70.750000,69.620003,70.599998,A
23,2019-01-14,2182700,69.720001,69.750000,70.290001,69.669998,69.750000,A
24,2019-01-11,1210800,69.290001,70.379997,70.410004,68.940002,70.379997,A
25,2019-01-10,1080900,69.050003,69.900002,69.949997,68.599998,69.900002,A
26,2019-01-09,2442300,68.199997,69.250000,69.660004,68.000000,69.250000,A
27,2019-01-08,1578100,67.589996,67.830002,68.209999,66.699997,67.830002,A
28,2019-01-07,3235100,65.639999,66.849998,67.430000,65.610001,66.849998,A
29,2019-01-04,3123700,64.089996,65.459999,65.949997,64.089996,65.459999,A
...,...,...,...,...,...,...,...,...
40254,1980-04-28,2500,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40255,1980-04-25,5200,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40256,1980-04-24,5700,3.200000,3.100000,3.300000,3.100000,2.607923,AAME
40257,1980-04-23,2000,3.200000,3.200000,3.400000,3.200000,2.692049,AAME
40258,1980-04-22,700,3.150000,3.150000,3.350000,3.150000,2.649986,AAME
40259,1980-04-21,2700,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40260,1980-04-18,3000,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40261,1980-04-17,9000,3.300000,3.100000,3.300000,3.100000,2.607923,AAME
40262,1980-04-16,7500,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40263,1980-04-15,200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40264,1980-04-14,13200,3.350000,3.300000,3.500000,3.300000,2.776176,AAME
40265,1980-04-11,18700,3.350000,3.350000,3.550000,3.350000,2.818239,AAME
40266,1980-04-10,3200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40267,1980-04-09,7000,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40268,1980-04-08,5200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40269,1980-04-07,4000,3.400000,3.300000,3.500000,3.300000,2.776176,AAME
40270,1980-04-03,28500,3.400000,3.400000,3.600000,3.400000,2.860303,AAME
40271,1980-04-02,9200,3.400000,3.400000,3.600000,3.400000,2.860303,AAME
40272,1980-04-01,2000,3.350000,3.300000,3.500000,3.300000,2.776176,AAME
40273,1980-03-31,20000,3.450000,3.350000,3.550000,3.350000,2.818239,AAME
40274,1980-03-28,3200,3.450000,3.450000,3.650000,3.450000,2.902366,AAME
40275,1980-03-27,4200,3.500000,3.400000,3.600000,3.400000,2.860303,AAME
40276,1980-03-26,500,3.500000,3.500000,3.700000,3.500000,2.944429,AAME
40277,1980-03-25,2500,3.550000,3.500000,3.700000,3.500000,2.944429,AAME
40278,1980-03-24,18200,3.750000,3.550000,3.750000,3.550000,2.986492,AAME
40279,1980-03-21,12700,3.800000,3.750000,3.950000,3.750000,3.154745,AAME
40280,1980-03-20,8700,3.850000,3.800000,4.000000,3.800000,3.196808,AAME
40281,1980-03-19,33500,3.850000,3.850000,4.050000,3.850000,3.238872,AAME
40282,1980-03-18,10200,3.850000,3.800000,4.000000,3.800000,3.196808,AAME
40283,1980-03-17,15000,3.850000,3.850000,4.050000,3.850000,3.238872,AAME

In [5]:
# for root, dirs, files in os.walk("C:/Users/depri/Desktop/OPS813 cloud computing/Project/amex-nyse-nasdaq-stock-histories/fh_20190217/full_history"):  
#     for filename in files:
#         print(filename)

In [6]:
df.AdjustedClose.quantile(0.5)

14.98280143737793

In [7]:
 df[df.AdjustedClose < df.AdjustedClose.quantile(.05)]

,Date,Volume,Open,Close,High,Low,AdjustedClose,StockName
15954,1975-01-24,384700,4.403498,4.505625,4.565700,4.391482,1.478835,AA
15955,1975-01-23,86500,4.355437,4.403498,4.427527,4.277340,1.445315,AA
15956,1975-01-22,37900,4.253310,4.355437,4.355437,4.229280,1.429541,AA
15957,1975-01-21,278900,4.277340,4.253310,4.355437,4.205250,1.396021,AA
15958,1975-01-20,101100,4.241295,4.277340,4.277340,4.067078,1.403908,AA
15959,1975-01-17,71900,4.265325,4.241295,4.277340,4.229280,1.392076,AA
15960,1975-01-16,1074600,4.265325,4.265325,4.265325,4.229280,1.399964,AA
15961,1975-01-15,69900,4.289355,4.265325,4.289355,4.253310,1.399964,AA
15962,1975-01-14,177700,4.277340,4.355437,4.379467,4.265325,1.429541,AA
15963,1975-01-13,346100,4.277340,4.277340,4.379467,4.253310,1.403908,AA
15964,1975-01-10,229700,4.277340,4.277340,4.403498,4.277340,1.403908,AA
15965,1975-01-09,216900,4.289355,4.229280,4.289355,4.115138,1.388134,AA
15966,1975-01-08,67900,4.403498,4.355437,4.403498,4.355437,1.429541,AA
15967,1975-01-07,245600,4.505625,4.403498,4.505625,4.391482,1.445315,AA
15968,1975-01-06,287600,4.439542,4.505625,4.517640,4.415513,1.478835,AA
15969,1975-01-03,115100,4.439542,4.439542,4.541670,4.415513,1.457145,AA
15970,1975-01-02,106400,4.439542,4.439542,4.529655,4.415513,1.457145,AA
15971,1974-12-31,146400,4.391482,4.439542,4.505625,4.391482,1.457145,AA
15972,1974-12-30,63100,4.391482,4.367453,4.403498,4.355437,1.433485,AA
15973,1974-12-27,113800,4.427527,4.391482,4.427527,4.391482,1.441371,AA
15974,1974-12-26,89800,4.403498,4.427527,4.505625,4.403498,1.453202,AA
15975,1974-12-24,53100,4.367453,4.367453,4.403498,4.355437,1.433485,AA
15976,1974-12-23,149000,4.277340,4.367453,4.391482,4.253310,1.433485,AA
15977,1974-12-20,79900,4.205250,4.277340,4.277340,4.205250,1.403908,AA
15978,1974-12-19,203700,4.139167,4.127152,4.217265,4.115138,1.354613,AA
15979,1974-12-18,157000,4.055062,4.139167,4.229280,4.055062,1.358558,AA
15980,1974-12-17,155000,4.055062,4.055062,4.079093,3.988980,1.330952,AA
15981,1974-12-16,247600,4.079093,4.055062,4.079093,3.976965,1.330952,AA
15982,1974-12-13,145000,4.091107,4.103123,4.103123,4.079093,1.346727,AA
15983,1974-12-12,150400,4.067078,4.091107,4.127152,4.067078,1.342782,AA
...,...,...,...,...,...,...,...,...
37598,1990-10-29,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37599,1990-10-26,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37600,1990-10-25,800,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37601,1990-10-24,1600,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37603,1990-10-22,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37604,1990-10-19,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37605,1990-10-18,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37606,1990-10-17,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37607,1990-10-16,3000,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37608,1990-10-15,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37609,1990-10-12,600,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37610,1990-10-11,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37611,1990-10-10,900,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37612,1990-10-09,12700,1.625000,1.625000,1.687500,1.625000,1.513694,AAME
37613,1990-10-08,2800,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37614,1990-10-05,16900,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37615,1990-10-04,0,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37616,1990-10-03,21300,1.625000,1.625000,1.656200,1.625000,1.513694,AAME
37617,1990-10-02,100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37619,1990-09-28,15100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37622,1990-09-25,100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37626,1990-09-19,3900,1.750000,1.625000,1.875000,1.625000,1.513694,AAME
37627,1990-09-18,0,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37628,1990-09-17,400,1.750000,1.625000,1.750000,1.625000,1.513694,AAME
37629,1990-09-14,1500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37630,1990-09-13,1500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37631,1990-09-12,500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37632,1990-09-11,12700,1.625000,1.625000,1.875000,1.625000,1.513694,AAME
37634,1990-09-07,500,1.875000,1.625000,1.875000,1.625000,1.513694,AAME
37643,1990-08-24,1200,1.875000,1.500000,1.875000,1.500000,1.397256,AAME

In [8]:
 df[df.AdjustedClose < df.AdjustedClose.quantile(.05)]

,Date,Volume,Open,Close,High,Low,AdjustedClose,StockName
15954,1975-01-24,384700,4.403498,4.505625,4.565700,4.391482,1.478835,AA
15955,1975-01-23,86500,4.355437,4.403498,4.427527,4.277340,1.445315,AA
15956,1975-01-22,37900,4.253310,4.355437,4.355437,4.229280,1.429541,AA
15957,1975-01-21,278900,4.277340,4.253310,4.355437,4.205250,1.396021,AA
15958,1975-01-20,101100,4.241295,4.277340,4.277340,4.067078,1.403908,AA
15959,1975-01-17,71900,4.265325,4.241295,4.277340,4.229280,1.392076,AA
15960,1975-01-16,1074600,4.265325,4.265325,4.265325,4.229280,1.399964,AA
15961,1975-01-15,69900,4.289355,4.265325,4.289355,4.253310,1.399964,AA
15962,1975-01-14,177700,4.277340,4.355437,4.379467,4.265325,1.429541,AA
15963,1975-01-13,346100,4.277340,4.277340,4.379467,4.253310,1.403908,AA
15964,1975-01-10,229700,4.277340,4.277340,4.403498,4.277340,1.403908,AA
15965,1975-01-09,216900,4.289355,4.229280,4.289355,4.115138,1.388134,AA
15966,1975-01-08,67900,4.403498,4.355437,4.403498,4.355437,1.429541,AA
15967,1975-01-07,245600,4.505625,4.403498,4.505625,4.391482,1.445315,AA
15968,1975-01-06,287600,4.439542,4.505625,4.517640,4.415513,1.478835,AA
15969,1975-01-03,115100,4.439542,4.439542,4.541670,4.415513,1.457145,AA
15970,1975-01-02,106400,4.439542,4.439542,4.529655,4.415513,1.457145,AA
15971,1974-12-31,146400,4.391482,4.439542,4.505625,4.391482,1.457145,AA
15972,1974-12-30,63100,4.391482,4.367453,4.403498,4.355437,1.433485,AA
15973,1974-12-27,113800,4.427527,4.391482,4.427527,4.391482,1.441371,AA
15974,1974-12-26,89800,4.403498,4.427527,4.505625,4.403498,1.453202,AA
15975,1974-12-24,53100,4.367453,4.367453,4.403498,4.355437,1.433485,AA
15976,1974-12-23,149000,4.277340,4.367453,4.391482,4.253310,1.433485,AA
15977,1974-12-20,79900,4.205250,4.277340,4.277340,4.205250,1.403908,AA
15978,1974-12-19,203700,4.139167,4.127152,4.217265,4.115138,1.354613,AA
15979,1974-12-18,157000,4.055062,4.139167,4.229280,4.055062,1.358558,AA
15980,1974-12-17,155000,4.055062,4.055062,4.079093,3.988980,1.330952,AA
15981,1974-12-16,247600,4.079093,4.055062,4.079093,3.976965,1.330952,AA
15982,1974-12-13,145000,4.091107,4.103123,4.103123,4.079093,1.346727,AA
15983,1974-12-12,150400,4.067078,4.091107,4.127152,4.067078,1.342782,AA
...,...,...,...,...,...,...,...,...
37598,1990-10-29,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37599,1990-10-26,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37600,1990-10-25,800,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37601,1990-10-24,1600,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37603,1990-10-22,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37604,1990-10-19,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37605,1990-10-18,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37606,1990-10-17,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37607,1990-10-16,3000,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37608,1990-10-15,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37609,1990-10-12,600,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37610,1990-10-11,0,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37611,1990-10-10,900,1.500000,1.500000,1.500000,1.500000,1.397256,AAME
37612,1990-10-09,12700,1.625000,1.625000,1.687500,1.625000,1.513694,AAME
37613,1990-10-08,2800,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37614,1990-10-05,16900,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37615,1990-10-04,0,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37616,1990-10-03,21300,1.625000,1.625000,1.656200,1.625000,1.513694,AAME
37617,1990-10-02,100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37619,1990-09-28,15100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37622,1990-09-25,100,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37626,1990-09-19,3900,1.750000,1.625000,1.875000,1.625000,1.513694,AAME
37627,1990-09-18,0,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37628,1990-09-17,400,1.750000,1.625000,1.750000,1.625000,1.513694,AAME
37629,1990-09-14,1500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37630,1990-09-13,1500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37631,1990-09-12,500,1.625000,1.625000,1.625000,1.625000,1.513694,AAME
37632,1990-09-11,12700,1.625000,1.625000,1.875000,1.625000,1.513694,AAME
37634,1990-09-07,500,1.875000,1.625000,1.875000,1.625000,1.513694,AAME
37643,1990-08-24,1200,1.875000,1.500000,1.875000,1.500000,1.397256,AAME

In [9]:
 df[df.AdjustedClose < df.AdjustedClose.quantile(.95)]

,Date,Volume,Open,Close,High,Low,AdjustedClose,StockName
27,2019-01-08,1578100,67.589996,67.830002,68.209999,66.699997,67.830002,A
28,2019-01-07,3235100,65.639999,66.849998,67.430000,65.610001,66.849998,A
29,2019-01-04,3123700,64.089996,65.459999,65.949997,64.089996,65.459999,A
30,2019-01-03,5383900,65.529999,63.270000,65.779999,62.000000,63.270000,A
31,2019-01-02,2113300,66.500000,65.690002,66.570000,65.300003,65.690002,A
32,2018-12-31,1572100,66.339996,67.459999,67.480003,66.339996,67.459999,A
33,2018-12-28,1927700,66.980003,65.959999,67.120003,65.709999,65.959999,A
34,2018-12-27,1655000,64.500000,66.480003,66.500000,64.000000,66.316002,A
35,2018-12-26,1701800,62.930000,65.540001,65.580002,62.759998,65.378319,A
36,2018-12-24,1668500,62.930000,62.669998,63.630001,62.220001,62.515396,A
37,2018-12-21,4683100,65.220001,63.290001,66.230003,63.220001,63.133869,A
38,2018-12-20,3547800,66.330002,65.190002,66.459999,64.589996,65.029182,A
39,2018-12-19,2845500,68.269997,66.830002,69.089996,65.809998,66.665138,A
40,2018-12-18,2112000,68.449997,67.989998,69.029999,67.389999,67.822273,A
41,2018-12-17,2241700,69.110001,67.849998,69.629997,67.400002,67.682617,A
56,2018-11-23,1374300,67.040001,68.209999,68.610001,67.040001,68.041733,A
57,2018-11-21,3557600,67.660004,67.720001,68.669998,67.190002,67.552940,A
58,2018-11-20,8187200,66.250000,67.519997,68.430000,64.930000,67.353432,A
59,2018-11-19,3392100,64.669998,62.610001,64.959999,62.400002,62.455547,A
60,2018-11-16,2963300,64.379997,64.989998,65.599998,64.379997,64.829674,A
61,2018-11-15,3846100,63.320000,64.720001,64.949997,62.540001,64.560341,A
62,2018-11-14,4852600,64.639999,63.470001,64.839996,63.279999,63.313427,A
63,2018-11-13,2216500,64.589996,64.339996,65.470001,63.939999,64.181274,A
64,2018-11-12,3000000,66.160004,64.500000,66.250000,64.449997,64.340881,A
65,2018-11-09,2573500,67.599998,67.269997,67.760002,66.699997,67.104050,A
66,2018-11-08,2444600,67.989998,67.790001,68.360001,67.379997,67.622772,A
67,2018-11-07,2700600,66.510002,68.260002,68.379997,66.279999,68.091614,A
68,2018-11-06,2287300,66.040001,65.980003,66.419998,65.669998,65.817238,A
69,2018-11-05,2348700,66.029999,65.910004,66.389999,65.230003,65.747406,A
70,2018-11-02,2272100,65.800003,65.930000,66.610001,65.440002,65.767357,A
...,...,...,...,...,...,...,...,...
40254,1980-04-28,2500,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40255,1980-04-25,5200,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40256,1980-04-24,5700,3.200000,3.100000,3.300000,3.100000,2.607923,AAME
40257,1980-04-23,2000,3.200000,3.200000,3.400000,3.200000,2.692049,AAME
40258,1980-04-22,700,3.150000,3.150000,3.350000,3.150000,2.649986,AAME
40259,1980-04-21,2700,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40260,1980-04-18,3000,3.100000,3.100000,3.300000,3.100000,2.607923,AAME
40261,1980-04-17,9000,3.300000,3.100000,3.300000,3.100000,2.607923,AAME
40262,1980-04-16,7500,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40263,1980-04-15,200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40264,1980-04-14,13200,3.350000,3.300000,3.500000,3.300000,2.776176,AAME
40265,1980-04-11,18700,3.350000,3.350000,3.550000,3.350000,2.818239,AAME
40266,1980-04-10,3200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40267,1980-04-09,7000,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40268,1980-04-08,5200,3.300000,3.300000,3.500000,3.300000,2.776176,AAME
40269,1980-04-07,4000,3.400000,3.300000,3.500000,3.300000,2.776176,AAME
40270,1980-04-03,28500,3.400000,3.400000,3.600000,3.400000,2.860303,AAME
40271,1980-04-02,9200,3.400000,3.400000,3.600000,3.400000,2.860303,AAME
40272,1980-04-01,2000,3.350000,3.300000,3.500000,3.300000,2.776176,AAME
40273,1980-03-31,20000,3.450000,3.350000,3.550000,3.350000,2.818239,AAME
40274,1980-03-28,3200,3.450000,3.450000,3.650000,3.450000,2.902366,AAME
40275,1980-03-27,4200,3.500000,3.400000,3.600000,3.400000,2.860303,AAME
40276,1980-03-26,500,3.500000,3.500000,3.700000,3.500000,2.944429,AAME
40277,1980-03-25,2500,3.550000,3.500000,3.700000,3.500000,2.944429,AAME
40278,1980-03-24,18200,3.750000,3.550000,3.750000,3.550000,2.986492,AAME
40279,1980-03-21,12700,3.800000,3.750000,3.950000,3.750000,3.154745,AAME
40280,1980-03-20,8700,3.850000,3.800000,4.000000,3.800000,3.196808,AAME
40281,1980-03-19,33500,3.850000,3.850000,4.050000,3.850000,3.238872,AAME
40282,1980-03-18,10200,3.850000,3.800000,4.000000,3.800000,3.196808,AAME
40283,1980-03-17,15000,3.850000,3.850000,4.050000,3.850000,3.238872,AAME

In [10]:
topstocks = df.sort_values(by='AdjustedClose', ascending=False)
topstocks.head(7)

,Date,Volume,Open,Close,High,Low,AdjustedClose,StockName
30195,2014-01-15,92800,1160.000000,1196.359985,1209.000000,1155.000000,1196.359985,AAMC
30194,2014-01-16,58500,1195.000000,1184.500000,1200.359985,1126.030029,1184.500000,AAMC
30193,2014-01-17,33900,1150.000000,1179.780029,1190.000000,1125.010010,1179.780029,AAMC
30192,2014-01-21,25100,1190.849976,1178.000000,1195.000000,1166.000000,1178.000000,AAMC
30191,2014-01-22,7300,1177.000000,1151.229980,1180.000000,1150.000000,1151.229980,AAMC
30196,2014-01-14,40000,1066.920044,1151.000000,1151.000000,1054.000000,1151.000000,AAMC
30142,2014-04-02,34800,1090.060059,1112.369995,1148.339966,1090.060059,1112.369995,AAMC